.login {
    display: flex;
    text-align: center;
    justify-content: center;
    box-sizing: border-box;
    height: 100vh;
    overflow: hidden;
    background: #ffffff;
}

.imagem {
    display: flex;
    align-items: center;
    justify-content: center;
}

.imagem img {
    width: 100%;
}

.painel-login {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 50%;
    align-items: center;
    box-shadow: -2px 0 10px #1351d8;
}

.painel-login img {
    width: 50%;
    margin-top: 5%;
}

.boas-vindas {
    margin-bottom: 20px;
}

.boas-vindas h2 {
    color: #1351d8;
}

.btn, mat-form-field {
    width: 80%;
}

mat-checkbox {
    display: flex;
    width: 90%;
    justify-content: end;
    margin-bottom: 20px;
}

.spacer {
    flex: 1 1 auto;
}

.copy {
    margin: 10px;
}